---
// layout import
import BaseLayout from "../../layouts/BaseLayout.astro";

import { getCollection } from "astro:content";

const photos = (await getCollection("photos")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const { title = "Photos", description = "" } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section class="container-full @container">
        <div
            class="columns-1 gap-4 @lg:columns-2 @3xl:columns-3 @7xl:columns-4"
        >
            {
                photos.map((photo) => (
                    <div class="group relative mb-4 flex break-inside-avoid flex-col items-end gap-y-1 overflow-hidden shadow-lg">
                        <img
                            src={photo.data.url}
                            alt={photo.data.description}
                            class="object-contain"
                        />
                    </div>
                ))
            }
        </div>
    </section>
</BaseLayout>
