---
// layout import
import BaseLayout from "../layouts/BaseLayout.astro";

// content import
import Content, { frontmatter } from "../content/about.mdx";

const { title, description } = frontmatter;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article class="slide-enter-content">
                <h1>About Me<span class="text-red">.</span></h1>
                <Content />
            </article>
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
