---
// layout import
import BaseLayout from "../layouts/BaseLayout.astro";

// component import
import Giscus from "../components/page/Giscus.astro";

const {
    title = "Guestbook",
    description = "The digital equivalent of scribbling your name on a cozy café wall.",
} = Astro.props;
---

<BaseLayout title={title} description={description}>
    <section class="container-grid">
        <section class="container-side"></section>

        <section class="container-main">
            <article>
                <h1>{title}<span class="text-red">.</span></h1>
                <p class="text-tx-2">{description}</p>
            </article>

            <Giscus />
        </section>

        <section class="container-side"></section>
    </section>
</BaseLayout>
