---
let canvasId = "bar-chart-example";
---

<div class="bleed">
    <canvas id={canvasId} aria-label="Sample Chart" role="img" class="w-full">
        <p>Your browser does not support the canvas element!</p>
    </canvas>
</div>

<script>
    import Chart from "chart.js/auto";

    function generateMonths(count: number) {
        const months = [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
        ];
        return months.slice(0, count);
    }

    function initChart() {
        const ctx = document.getElementById("bar-chart-example");

        const data = {
            labels: generateMonths(7),
            datasets: [
                {
                    label: "Dataset 1",
                    data: [10, 20, 30, 25, 40, 110, 90],
                    borderColor: "green",
                    backgroundColor: "green",
                },
                {
                    label: "Dataset 2",
                    data: [20, 10, 4, 8, 24, 40, 60],
                    borderColor: "grey",
                    backgroundColor: "grey",
                },
            ],
        };

        const config = {
            type: "bar",
            data: data,
            options: {
                responsive: true,
                interaction: {
                    mode: "index",
                    intersect: false,
                },
                stacked: false,
                plugins: {
                    legend: { position: "bottom" },
                    title: {
                        display: true,
                        text: "Bar Chart Example",
                    },
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: "Months",
                        },
                    },
                    y: {
                        title: {
                            display: true,
                            text: "Values",
                        },
                    },
                },
            },
        };

        new Chart(ctx, config);
    }

    document.addEventListener("astro:page-load", initChart);
</script>
