---

---

<div class="flex w-full items-center justify-center gap-8 py-8">
    <div class="bg-ui-3 size-1.5 rounded-full"></div>
    <div class="bg-ui-3 size-1.5 rounded-full"></div>
    <div class="bg-ui-3 size-1.5 rounded-full"></div>
</div>
