---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
    href: string;
    icon: string;
    title: string;
}

const { href, icon, title, ...rest } = Astro.props;
---

<a
    href={href}
    class="not-prose group border-ui hover:border-ui-2 flex size-24 items-center justify-center rounded-md border pt-1 transition-all duration-300 ease-in-out hover:shadow-lg"
    {...rest}
>
    <div class="flex flex-col items-center gap-y-1">
        <Icon
            name={icon}
            size={32}
            class="text-tx-2 group-hover:text-tx transition-all duration-300 ease-in-out"
        />
        <span
            class="text-tx-2 group-hover:text-tx text-sm font-medium transition-all duration-300 ease-in-out"
            >{title}</span
        >
    </div>
</a>
