---
// utils import
import { formatDate } from "../../utils/formatDate";

type BasePost = {
    id: string;
    data: {
        title: string;
        updatedDate: string | Date;
    };
};

type Props = {
    post: BasePost;
    collection: string;
};

const { post, collection } = Astro.props;
const { title, updatedDate } = post.data;
---

<a
    href={`/${post.id}`}
    class="group flex flex-col gap-y-1 py-1 @lg:flex-row @lg:items-baseline @lg:justify-between @lg:gap-x-2"
>
    <span
        class="group-hover:text-red shrink-0 transition-colors duration-300 ease-in-out"
        >{title}</span
    >
    <div
        class="text-tx-3 group-hover:text-tx-2 hidden w-full border-b border-dashed transition-colors duration-300 ease-in-out @lg:block"
    >
    </div>
    <span
        class="text-tx-2 group-hover:text-tx shrink-0 text-sm transition-colors duration-300 ease-in-out"
        >{formatDate(updatedDate, "short")}</span
    >
</a>
